<article class="nextmeeting">
	<h1> Latest Info </h1>
	<p>
		<img src="<%= appdata.meeting.where.img %>" alt="Latest Info">
		New Horizons mission is kicking off its climactic month of July with amazing views that clearly show Pluto's black spots and Charon's dark pole growing in the spacecraft's virtual windshield.
		<%= appdata.meeting.date %>, <%= appdata.meeting.time %> at <%= appdata.meeting.where.name %> <%= appdata.meeting.where.address %>
	</p>
	<p><% include socialmedia.ejs %></p>
</article>